.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border:  1px solid gray;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
    transition: transform 0.25s ease-in;
}
.card-container:hover{
    transform: scale(1.05);
}
.card-container h2{
    text-align: center;
}
.card-container p{
    text-align: center;
}