*{
    margin: 0;
    padding: 0;
    border: none;
    background: linear-gradient(
        to left,
        rgba(7,27,82,1) 0%,
        rgba(0,128,128,1) 100%
    );
}
h1{
    font-family: 'Bigelow Rules', cursive;
    color: #0ccac4;
    font-size: 72px;
}
.search-box{
    margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}